"*":
  core:
    disabledPackages: [
      "spell-check"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "monokai-seti"
    ]
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "8cc97b8e-6e86-4f24-898b-e89eaed7fe74"
  "platformio-ide-terminal":
    style:
      animationSpeed: 0
      defaultPanelHeight: "50%"
    toggles:
      autoClose: true
  "seti-ui":
    compactView: true
    disableAnimations: true
  welcome:
    showOnStartup: false
".action.source":
  editor:
    tabLength: 2
".launch.source":
  editor:
    tabLength: 2
".msg.source":
  editor:
    tabLength: 2
".rosbuild.source":
  editor:
    tabLength: 2
".source.srv":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
