# locate this file in /etc/systemd/system/
[Unit]
Description=Mount onedrive using rclone
Documentation=
#After=networking.service

[Service]
Type=simple
User=rkoyama
Group=rkoyama
TimeoutStartSec=0
Restart=on-failure
RestartSec=30s
#ExecStartPre=
ExecStart=/path/to/rclone-onedrive.sh
SyslogIdentifier=Diskutilization
ExecStop=fusermount -uz /home/rkoyama/onedrive

[Install]
WantedBy=multi-user.target
